nav {
    background-color: #e66f25;
}
.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
body {
    background-color:  #f59254;
}
.main-body {
    background-color: #f59254;
    color: white;
    height: calc(100vh - 64px);
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #e66f25;
    margin-top: 50px;
}

